doctype html
html
    head
        title Gestión de Reservas
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 Bienvenido al Sistema de Gestión de Reservas
        h2 Iniciar Sesión
        form(action='/api/users/login', method='post')
            div
                label(for='username') Usuario:
                input(type='text', id='username', name='username', required)
            div
                label(for='password') Contraseña:
                input(type='password', id='password', name='password', required)
            div
                button(type='submit') Iniciar Sesión
script.
    fetch('/api/users/login', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ username: 'username', password: 'password' }),
        })
        .then(response => response.json())
        .then(data => {
            if (data.token) {
            // Almacena el token en el localStorage (o en cookies)
            localStorage.setItem('jwtToken', data.token);

            // Redirige a la página /main
            window.location.href = '/main';
            }
        })
        .catch(error => {
            console.error("Error en el login:", error);
        });