doctype html
html
    head
        title Gestión de Pedidos
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 Bienvenido al Sistema de Gestión de Pedidos
        h2 Iniciar Sesión
        form(action='/main', method='post')
            div
                label(for='username') Usuario:
                input(type='text', id='username', name='username', required)
            div
                label(for='password') Contraseña:
                input(type='password', id='password', name='password', required)
            div
                button(type='submit') Iniciar Sesión
