doctype html
html
    head
        title Gestión de Reservas
        link(rel='stylesheet', href='/stylesheets/style.css') 
    body
        h1 Gestión de Reservas 
        if user
            h2 Bienvenido, #{user.nombre}!
        else
            h2 Bienvenido invitado!
        div.button-container
            button(onclick=`location.href='/api/reservations/${user.username}'`) Ver Mis Reservas 
            button(onclick=`location.href='/api/reservations/disponibles'`) Agregar Reserva
        div.logout
            form(action='/api/users/logout', method='POST', onsubmit='confirmarCerrarSesion(event)')
                button(type='submit') Cerrar Sesión

    script.
            function confirmarCerrarSesion(event) {
                if (!confirm("¿Deseas cerrar sesión?")) {
                    event.preventDefault();
                }
            }