doctype html
html
    head
        script(src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js")
        title Gestión de Reservas
        link(rel='stylesheet', href='/stylesheets/style.css') 
    body
        h1 Gestión de Reservas 
        if user
            h2 Bienvenido, #{user.nombre} !
        else
            h2 Bienvenido invitado!
            
        div.button-container
            button(onclick="verMisReservas()") Ver Mis Reservas 
            button(onclick="agregarReserva()") Agregar Reserva
        div.logout
            form(action='/api/users/logout', method='POST', onsubmit='confirmarCerrarSesion(event)')
                button(type='submit') Cerrar Sesión

    script.
            function confirmarCerrarSesion(event) {
                if (!confirm("¿Deseas cerrar sesión?")) {
                    event.preventDefault();
                }
            };
            function verMisReservas() {
                const username = '#{user.username}'; 
                location.href = `/api/reservations/${username}`;
            }

            function agregarReserva() {
                location.href = '/api/reservations/disponibles';
            }
